.footer-logo{
    color:white;
    
    font-size: 28px;
    position: relative;
}
.arrow{
    font-size: 30px;
        left:104px;
    color:rgb(98, 207, 98);
    position: absolute;
    rotate: -310deg;
}
.text-gre{
    color: rgb(98, 207, 98);
}
.footer{
    position: relative
}
.footer-child{
    position: absolute;
    top: -100px;
    /* left: 0px; */
    background-color: rgb(98, 207, 98);
    
}
